.idea/
dev_LR.iml
resources/
logs/
app/services/
robots.txt
sitemap.xml
app/models/

app/core/config/relational_map.json

app/core/config/routes_map.json

app/core/config/shared.json

public/

app/core/config/routes.json
